<h3>{{data.id ? 'Edit' : 'Create'}} <%= entity.name %></h3>
<form [formGroup]="form">
<% (entity.attributesCombined || []).filter(x => x.name && !x.isArray).forEach((attr) => { %>
    <% if(attr.type === 'boolean') { %>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="<%= attr.name %>-edit" formControlName="<%= attr.name %>" />
            <label class="form-check-label" for="<%= attr.name %>-edit"><%= attr.name %></label>
        </div>
    <% } else { %>
        <div class="form-group">
            <label for="<%= attr.name %>-edit"><%= attr.name %></label>
            <input class="form-control" type="<%= attr.type %>" id="<%= attr.name %>-edit" formControlName="<%= attr.name %>"<% if(attr.typeRef) " disabled" %>/>
        </div>
    <% } %>
<% }) %>
</form>

<a routerLink="../">Return back</a>
<div class="float-right">
    <button class="btn btn-danger" (click)="delete()" *ngIf="data.id">Delete</button>&nbsp;
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>
