<h3>{{data.id ? 'Edit' : 'Create'}} <%= entity.name %></h3>
<form [formGroup]="form">
<% (entity.attributesCombined || []).filter(x => x.name).forEach((attr) => { %>
    <% if(attr.isArray) { %>
        <div class="form-group">
            <label for="<%= attr.name %>-edit"><%= attr.name %></label>
            <div><p-multiSelect id="<%= attr.name %>-edit" [options]="<%= attr.name %>All" optionLabel="label" dataKey="id" formControlName="<%= attr.name %>"></p-multiSelect></div>
        </div>
    <% } else if(attr.typeRef && attr.isDataType) { %>
    <% } else if(attr.typeRef && attr.isEnum) { %>
    <% } else if(attr.typeRef) { %>
        <div class="form-group">
            <label for="<%= attr.name %>-edit"><%= attr.name %></label>
            <p-dropdown id="<%= attr.name %>-edit" styleClass="form-control p-0" [options]="<%= attr.name %>All" optionLabel="label" dataKey="id" [autoDisplayFirst]="false" formControlName="<%= attr.name %>"></p-dropdown>
        </div>
    <% } else if(attr.type === 'boolean') { %>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="<%= attr.name %>-edit" formControlName="<%= attr.name %>" />
            <label class="form-check-label" for="<%= attr.name %>-edit"><%= attr.name %></label>
        </div>
    <% } else { %>
        <div class="form-group">
            <label for="<%= attr.name %>-edit"><%= attr.name %></label>
            <input class="form-control" type="<%= attr.type %>" id="<%= attr.name %>-edit" formControlName="<%= attr.name %>"<% if(attr.typeRef) " disabled" %>/>
        </div>
    <% } %>
<% }) %>
</form>

<a routerLink="../">Return back</a>
<div class="float-right">
    <button class="btn btn-danger" (click)="delete()" *ngIf="data.id">Delete</button>&nbsp;
    <button class="btn btn-primary" (click)="save()">Save</button>
</div>
