<h3>Edit <%= entity.name %></h3>
<form [formGroup]="form">
<% (entity.attributes || []).filter(x => x.name).forEach((attr) => { %>
    <div class="form-group">
        <label for="<%= attr.name %>-edit"><%= attr.name %></label>
        <input class="form-control" id="<%= attr.name %>-edit" formControlName="<%= attr.name %>"/>
    </div>
<% }) %>
</form>

<a routerLink="../">Return back</a>
<button class="btn btn-primary float-right">Save</button>
