<label><%= entity.properties.get('label') || entity.name %></label>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th><input type="checkbox" disabled></th>
        <% (entity.children || []).forEach(x => { %>
            <th><%= x.properties.get('label') || x.name %></th>
        <% }) %>
        </tr>
    </thead>
    <tbody formArrayName="<%= entity.name %>">
        <tr *ngFor="let item of getGroupControls('<%= entity.name %>'); let i = index;" [formGroupName]="i">
            <td><input type="checkbox" formControlName="_checked"></td>
        <% (entity.children || []).forEach(x => { %>
        <% if(x.stereotype === 'label') { %>
            <td>{{ form.get('<%= entity.name %>').value[i].<%= x.alias || x.name %> }}</td>
        <% } else if(x.stereotype === 'button') { %>
                <% if(x.links.informationFLow.length && x.links.informationFLow[0].end) {%>
                    <% const elementRef = x.links.informationFLow[0].end.elementRef; %>
                    <% const elementRefPath = elementRef.getPathFromRoot(utils.kebabCase); %>
                    <% const firstCmp = elementRef.messages && elementRef.messages.length && elementRef.messages[0].to.elementRef; %>
                    <% const firstOperation = firstCmp && firstCmp.operations.find(y => y.name === elementRef.messages[0].operation.name); %>
                    <% const firstParam = firstOperation && firstOperation.inputParameters && firstOperation.inputParameters[0]; %>

                    <% if(firstParam && firstOperation.inputParameters.length === 1) {%>
                        <td><button class="btn btn-primary" (click)="run('<%= elementRefPath %>', {<%= firstParam.name %>: form.get('<%= entity.name %>').value[i]})"><%= x.properties.get('label') || x.name %></button></td>
                    <% } else { %>
                        <td><button class="btn btn-primary" (click)="run('<%= elementRefPath %>', form.get('<%= entity.name %>').value[i])"><%= x.properties.get('label') || x.name %></button></td>
                    <% } %>
                <% } else { %>
                    <td><button class="btn btn-primary" disabled><%= x.properties.get('label') || x.name %></button></td>
                <% } %>
        <%} else { %>
                <td><input formControlName="<%= x.alias || x.name %>"/></td>
        <% } %>
        <% }) %>
        </tr>
    </tbody>
</table>
