<a routerLink="new" class="btn btn-primary float-right">Add new <%= entity.name %></a>
<h3><%= entity.nameOrigin %> list</h3>

<p-table [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <% entity.attributesCombinedToEdit.forEach(attr => { %>
                <th><%= attr.name %></th>
            <% }) %>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
        <tr>
            <td><a [routerLink]="entity.id">{{entity.id}}</a></td>
            <% entity.attributesCombinedToEdit.forEach(attr => { %>
                <td>{{entity.<%= attr.name %><% if(attr.typeRef && !attr.isEnum) { %>?.<%= attr.typeRef.tags.displayName || 'name' %><% } %>}}</td>
            <% }) %>
        </tr>
    </ng-template>
</p-table>
