<%
    const buildTree = (x) => {
        let copyX = null;

        if('xmiScreen' === x.constructor.name) {
            copyX = {name: x.nameOrigin, entity: x};
        } else if (x.children) {
            copyX = { name: x.nameOrigin, children: x.children.map(y => buildTree(y)).filter(y => y)};

            if(copyX.children.length) {
                copyX.isLeaf = !copyX.children.some(x => x.children);
            } else {
                copyX = null;
            }
        }

        return copyX;
    }

    const render = (x, callback, parentCallback) => {
        if(x && x.children) {
            parentCallback(x, () => x.children.forEach(y => render(y, callback, parentCallback)));
        } else if(x) {
            callback(x);
        }
    }

    var groupedClasses = classes.reduce((g, entity) => {
        g[entity.path] = g[entity.path] || []; //Check the value exists, if not assign a new array
        g[entity.path].push(entity); //Push the new value to the array

        return g; //Very important! you need to return the value of g or it will become undefined on the next pass
    }, {});
%>

<div class="tree">
    <div class="card">
        <div class="card-header">Entities</div>
        <div class="card-body">
            <% Object.keys(groupedClasses).forEach(x => { %>
            <div class="card">
                <div class="card-header"><%= x %></div>
                <div class="card-body">
                    <ul>
                        <% groupedClasses[x].forEach(x => { %>
                            <li><a routerLink="administration/<%= x.path %>/<%= x.entity.name %>"><%= x.entity.nameOrigin %></a></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <br>
            <% }) %>
        </div>
    </div>
</div>

<div class="tree">
<% render(buildTree(pkg), (x) => { %>
    <a routerLink="screen/<%= x.entity.getPathFromRoot() %>/<%= x.entity.name %>"><%= x.name %></a>
<%}, (x, callback) => { %>
    <% if(x.isLeaf) { %>
        <% callback() %>
    <% } else { %>
    <br>
    <div class="card">
        <div class="card-header"><%= x.name %></div>
        <div class="card-body"><% callback() %></div>
    </div>
    <% } %>
    <br>
<% }) %>
</div>
